<html>
<head>
<title>HTML Frames Example - Top Nav</title>
<style type="text/css">
h3 {
	font-family:calibri;
	font-size:25pt;
	margin:0px;
	
}
i {
	font-family: arial;
	font-size:12pt;
	
}
body {
	background-color:#a08029;
}
</style>
</head>
<body>
<h3>AWS Cloud deployment Visualization Tool v1.0</h3>
<i>Powered by <a href="https://github.com/anvaka/VivaGraphJS" target="_blank">Vivagraph</a> engine to model contextual data retrieved from <a href="https://github.com/Netflix/edda" target="_blank">EDDA</a></i>
</body>
</html>